<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <main>
            <h1>Oops! Page not found</h1>
            <p>Contact server administrator</p>
        </main>
    </body>
</html>
