<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <main class="role-success">
            <div class="head-images">
                <img src="https://i.ibb.co/9nd4fsw/discord.png" alt="" />
                <span class="seperator"></span>
                <img src="https://i.ibb.co/XsT6m9M/jklu.png" alt="" />
            </div>
            <div class="success">
                <img src="https://i.ibb.co/h2fWbYq/checked.png" alt="" />
                <div>
                    <h1>You have successfully assigned Student role</h1>
                </div>
            </div>
        </main>
    </body>
</html>
